:root {
  --mainBG: rgb(20, 20, 26);
  --mainBGNum: 20, 20, 26;
  --accent: #807AD6;
  --accent2: #5F9EC7;
  --accent2_hover: #00FFFF;
  --accent_hover: #5C6AFF;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background: rgba(255, 255, 255, 0.418);
  border-radius: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--accent2);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--accent2_hover);
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  scroll-behavior: smooth;
  color: white;
  scroll-padding-top: 90px;
  font-size: 17px;
}

body {
  background: var(--mainBG);
  overflow-x: hidden;
}

@media (min-width: 1000px) {
  .langs-tech a {
    display: grid;
    margin: 10px;
    transition: .3s;
    border-radius: 12px;
  }

  .socials-element a {
    color: rgba(255, 255, 255, 0.836);
    transition: .3s;
    font-size: 1.2rem;
    text-decoration: none;
  }

  .error-wrp h1 {
    font-size: auto;
  }

  #mobile {
    display: none;
  }

  .hidden {
    opacity: 0;
    filter: blur(12px);
    transform: translateX(-80%);
    transition: all .8s;
  }

  nav {
    box-sizing: border-box;
    width: 100%;
    padding: 20px 50px;
    position: fixed;
    background: rgba(20, 20, 26, 0.534);
    backdrop-filter: blur(12px);
    border-bottom: 1px rgba(255, 255, 255, 0.14) solid;
    display: flex;
    justify-content: space-between;
    z-index: 999;
  }

  .nav-side.desktop-menu a {
    color: rgba(255, 255, 255, 0.675);
    text-decoration: none;
    transition: .3s;
    margin-inline: 16px;
    font-weight: 500;
  }

  .nav-side.desktop-menu a:not(a:has(img))::after {
    width: 0;
    height: 3px;
    content: '';
    display: block;
    position: absolute;
    transition: .3s;
    background: linear-gradient(40deg, var(--accent_hover), var(--accent2_hover));
  }

  .nav-side.desktop-menu .link-wrp:nth-child(1):hover a::after {
    width: 50px;
  }

  .link-wrp {
    display: grid;
  }

  .nav-side.desktop-menu .link-wrp:hover a::after {
    width: 60px;
    transform: translateY(3px);
  }

  .nav-side a:has(img) {
    display: grid;
  }

  .nav-side a:has(img):hover img {
    filter: invert(0%);
  }

  nav .nav-side .link-wrp:hover a:not(.logo-text, :has(img)) {
    color: white;
    text-shadow: 0 0 3px white;
    transform: translateY(-3px);
  }

  .nav-side:nth-child(2) {
    display: flex;
    align-items: center;
  }

  .nav-side img {
    max-height: 34px;
    width: auto;
    transition: .3s;
    filter: invert(30%);
  }

  .logo-text {
    letter-spacing: -1px;
    user-select: none;
    cursor: pointer;
    font-size: 1.5rem;
    background-clip: text;
    text-decoration: none;
    transition: .3s;
    background: -webkit-linear-gradient(40deg, var(--accent), var(--accent2));
    -webkit-background-clip: text;
    max-width: fit-content;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    margin-left: 16px;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-inline: 180px;
    min-height: 100vh;
  }

  header h1 {
    margin-left: -10px;
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .header-about {
    font-size: 1.1rem;
    letter-spacing: 2px;
  }

  main {
    margin-bottom: 120px;
    min-height: 100vh;
  }

  .header-side {
    max-width: 370px;
  }

  .header-side>* {
    margin-inline: auto;
  }

  .langs-tech-above {
    height: fit-content;
    font-size: 1rem;
    color: #ffffffd4;
    text-align: center;
    width: calc(100% - 10px);
    font-weight: 700;
    margin-bottom: -100%;
  }

  .langs-tech {
    max-width: 204px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  section:not(.langs-section) {
    box-sizing: border-box;
    padding: 50px 20%;
    width: 100%;
  }

  section h2 {
    margin-bottom: 15px;
  }

  section .about-text {
    margin-left: 15px;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .contact-socials-wrp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 30px;
  }

  .socials-element {
    width: 36%;
  }

  .socel-wrp {
    display: flex;
    gap: 27px;
    margin-block: 30px;
    width: 250px;
    animation: socel-scroll cubic-bezier(1, 0.37, 0.58, 1) both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%
  }

  .socel-wrp img {
    max-height: 50px;
    min-height: 50px;
    width: auto;
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .langs-section {
    padding: 20px;
    margin: 1px;
    border-radius: 18px;
    display: grid;
    box-sizing: border-box;
    align-items: center;
    grid-template-columns: 70px 80px auto;
    gap: 30px;
    background: rgb(24, 24, 31);
    z-index: 8;
  }

  .langs-section h3 {
    display: grid;
    text-align: center;
    word-wrap: break-word;
  }

  footer {
    box-sizing: border-box;
    padding: 60px 80px;
    background: rgb(20, 20, 20);
    border-top: 1px rgba(255, 255, 255, 0.154) solid;
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
  }

  .project-side {
    width: 47%;
  }

  .project {
    width: 900px;
    box-sizing: border-box;
    padding: 30px;
    border: 1px rgba(255, 255, 255, 0.14) solid;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    margin-block: 30px;
  }

  .menu-line {
    display: none;
  }
}

@media (max-width: 999px) {
  .socials-element a {
    color: rgba(255, 255, 255, 0.836);
    transition: .3s;
    font-size: 1.1rem;
    text-decoration: none;
  }

  .error-wrp h1 {
    font-size: 2.5rem;
  }

  #desktop {
    display: none
  }

  .hidden {
    opacity: 0;
    filter: blur(12px);
    transform: translateX(-80%);
    transition: all .6s;
  }

  nav:not(.expanded) {
    box-sizing: border-box;
    width: 100%;
    padding-block: 20px;
    position: fixed;
    background: rgba(20, 20, 26, 0.534);
    backdrop-filter: blur(12px);
    border-bottom: 1px rgba(255, 255, 255, 0.14) solid;
    display: flex;
    justify-content: space-evenly;
    z-index: 999;
    max-width: 100%;
  }

  .menu-line {
    height: 5px;
    width: 40px;
    background: white;
    border-radius: 4px;
  }

  .menu-line:nth-child(2) {
    margin-block: 5px;
  }

  .expanded {
    height: 100vh;
    width: 100%;
    background: rgba(20, 20, 26, 0.534);
    backdrop-filter: blur(12px);
    transition: .4s cubic-bezier(0, 0, 0, 0.76);
    z-index: 1000;
    position: fixed;
    display: flex;
  }

  .expanded-top {
    width: 100%;
    display: flex;
    justify-content: right;
    position: absolute;
    top: 0;
  }

  .expanded-top button {
    margin-right: 30px;
    margin-top: 30px;
    transition: .3s;
  }

  nav button:hover,
  .expanded-top button:hover {
    transform: scale(1.1);
  }

  .cross-line:nth-child(1) {
    transform: rotate(45deg) translateX(8px);
  }

  .cross-line:nth-child(2) {
    transform: rotate(-45deg) translateX(7px);
  }

  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .expanded a {
    color: rgba(255, 255, 255, 0.675);
    text-decoration: none;
    transition: .3s;
    margin-inline: auto;
    padding-block: 12px;
    font-weight: 700;
    font-size: 1rem;
    border-bottom: 1px rgba(255, 255, 255, 0.14) solid;
  }

  .expanded a:last-child {
    border: none;
  }

  .expanded a:has(img),
  nav a:has(img) {
    display: grid;
  }

  nav a:hover {
    color: white;
  }

  nav img {
    max-height: 34px;
    width: auto;
    transition: .3s;
  }

  nav button {
    background: transparent;
    transition: .3s;
    border: none;
  }

  .logo-text {
    letter-spacing: -1px;
    user-select: none;
    cursor: pointer;
    font-size: 1.3rem;
    background-clip: text;
    text-decoration: none;
    transition: .3s;
    background: -webkit-linear-gradient(40deg, var(--accent), var(--accent2));
    -webkit-background-clip: text;
    max-width: fit-content;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
    display: grid;
    align-items: center;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100vh;
    flex-direction: column;
  }

  header:not(header:has(.login-form)) {
    padding-top: 95px;
  }

  header h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  header *:not(header::before, header::after) {
    z-index: 2;
  }

  .header-about {
    font-size: 1rem;
    letter-spacing: 1px;
    max-width: 80%;
  }

  main {
    min-height: 100vh;
  }

  .header-side {
    max-width: 100%;
  }

  .header-side>* {
    text-align: center;
    margin-inline: auto;
  }

  .langs-tech-above {
    height: fit-content;
    font-size: 1rem;
    color: #ffffffd4;
    text-align: center;
    width: 100%;
    font-weight: 700;
  }

  .langs-tech {
    margin-top: 15px;
    max-width: 204px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  section:not(.langs-section) {
    box-sizing: border-box;
    padding: 50px 15px;
    width: 100%;
  }

  section h2:not(#langs-techs) {
    margin-bottom: 15px;
    font-size: 1.6rem;
  }

  section h2 {
    margin-bottom: 15px;
    text-align: center;
    font-size: 1.6rem;
  }

  .about-text {
    max-width: 95%;
    margin-inline: auto;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 1px;
  }

  .contact-socials-wrp {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  .socel-wrp {
    display: flex;
    gap: 30px;
    animation: socel-scroll cubic-bezier(1, 0.37, 0.58, 1) both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
    align-items: center;
  }

  .socel-wrp img {
    min-width: 45px;
    max-width: 45px;
    height: auto;
    max-height: 45px;
    user-select: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

  .langs-section {
    width: 100%;
    padding: 20px;
    margin: 1px;
    border-radius: 18px;
    background: var(--mainBG);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding-inline: 5px;
  }

  .langs-section h3 {
    display: none;
  }

  .langs-section p {
    text-align: center;
  }

  footer {
    box-sizing: border-box;
    padding: 60px 10px;
    background: rgb(20, 20, 20);
    border-top: 1px rgba(255, 255, 255, 0.154) solid;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    gap: 30px;
    text-align: center;
  }

  .project-side:nth-child(2) {
    margin-top: 30px;
  }

  .project {
    width: 95%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px rgba(255, 255, 255, 0.14) solid;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-block: 30px;
  }

  .langs-tech a {
    display: grid;
    margin: 7px 10px;
    transition: .3s;
    border-radius: 12px;
  }
}

.logo-text:hover {
  filter: contrast(20);
}

.langs-tech img {
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.langs-tech a:hover {
  transform: translateY(-6px) scale(1.05);
}

.langs-tech a[href="#html-css"]:hover {
  box-shadow: 0 6px 6px #E14E1D;
  background: #E14E1D;
}

.langs-tech a[href="#html-css"]:nth-child(2):hover {
  box-shadow: 0 6px 6px #0277BD;
  background: #0277BD;
}

.langs-tech a[href="#js"]:hover {
  box-shadow: 0 6px 6px #F0DB4F;
  background: #F0DB4F;
}

.langs-tech a[href="#ts"]:hover {
  box-shadow: 0 6px 6px #007ACC;
  background: #007ACC;
}

.langs-tech a[href="#react"]:hover {
  box-shadow: 0 6px 6px #00D8FF;
  background: #00D8FF;
}

.langs-tech a[href="#svelte"]:hover {
  box-shadow: 0 6px 6px #FF3E00;
  background: #FF3E00;
}

.langs-tech a[href="#git"]:hover {
  box-shadow: 0 6px 6px #F03C2E;
  background: #F03C2E;
}

.langs-tech a[href="#py"]:hover {
  box-shadow: 0 3px 3px #346E9E, 0 6px 6px #FFD242;
  background: #346E9E;
}

.langs-tech a[href="#firebase"]:hover {
  box-shadow: 0 2px 2px #FFA513, 0 4px 4px #F4830F, 0 6px 6px #FFCB2E;
  background: #FFA513;
}

.langs-tech a[href="#supabase"]:hover {
  box-shadow: 0 6px 6px #249361;
  background: #249361;
}

p a {
  text-decoration: none;
  color: var(--accent2);
  font-weight: 600;
  transition: .3s;
}

p a:hover {
  color: var(--accent2_hover);
}

.colored-text {
  background-clip: text;
  background: -webkit-linear-gradient(40deg, var(--accent), var(--accent2));
  -webkit-background-clip: text;
  max-width: fit-content;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}

.socials-element a:hover {
  color: white;
}

a.colored-text:hover {
  filter: contrast(20);
}

.langs-section img {
  max-height: 30px;
  width: auto;
  user-select: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.sarcasm {
  text-decoration: line-through;
  color: rgb(255, 0, 0);
}

.langs-icons {
  display: flex;
  gap: 10px;
  min-width: 70px;
  justify-content: center;
  max-width: 70px;
}

.no-projects-wrp {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-projects {
  text-align: center;
}

.no-projects * {
  letter-spacing: 1px;
}

.no-projects h1 {
  color: rgba(255, 126, 126, 0.634);
  margin-bottom: 30px;
  font-size: 2.6rem;
}

.no-projects p {
  color: grey;
  font-size: 1rem;
}

main.projects {
  padding-top: 120px;
  min-height: calc(100vh - 145px);
}

main.projects>h1 {
  text-align: center;
  margin-bottom: 15px;
}

.projects-wrp {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-side img {
  max-width: 100%;
  height: auto;
}

.project-side .rounded {
  border-radius: 18px;
}

.project-side:has(h3) {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project-side:has(img) {
  display: grid;
  align-items: center;
}

.project-side .tags {
  display: flex;
  flex-wrap: wrap;
}

.project-side a {
  display: grid;
  place-items: center;
}

.tag {
  padding: 4px 12px;
  margin: 6px;
  border-radius: 4px;
  font-size: 0.8rem;
  font-style: italic;
  background: #242938;
  font-weight: 600;
}

.js-tag {
  color: #F0DB4F;
}

.svelte-tag {
  color: #FF3E00;
}

.firebase-tag {
  color: #FFA513;
}

.html-tag {
  color: #E14E1D;
}

.ts-tag {
  color: #007ACC;
}

.py-tag {
  color: #FFD242;
}

.react-tag {
  color: #00D8FF;
}

.supabase-tag {
  color: #249361;
}

.tags-wrp>p {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.671);
  margin-bottom: 2px;
}

.no-demo {
  color: rgba(255, 105, 105, 0.856);
  display: grid;
  align-items: center;
}

.project-links {
  display: flex;
  gap: 20px;
}

.project-links a {
  transition: .3s;
  display: grid;
}

.project-links a:hover img {
  filter: invert(0%);
}

.project-links a img {
  max-height: 30px;
  width: auto;
  filter: invert(10%);
}

.show {
  opacity: 1;
  filter: none;
  transform: none;
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.socel-wrp:nth-child(1) {
  transition: .2s;
}

.socel-wrp:nth-child(2) {
  transition: .3s;
}

.socel-wrp:nth-child(3) {
  transition: .6s;
}

.pointer-finger {
  font-size: 1.6rem;
}

.langs-sec-border {
  margin-block: 20px;
  display: flex;
  justify-content: center;
  border-radius: 18px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.599);
  align-items: center;
}

.langs-sec-border#html-css {
  background: radial-gradient(#E14E1D, var(--mainBG));
}

.langs-sec-border#js {
  background: radial-gradient(#F0DB4F, var(--mainBG));
}

.langs-sec-border#ts {
  background: radial-gradient(#007ACC, var(--mainBG));
}

.langs-sec-border#react {
  background: radial-gradient(#00D8FF, var(--mainBG));
}

.langs-sec-border#svelte {
  background: radial-gradient(#FF3E00, var(--mainBG));
}

.langs-sec-border#git {
  background: radial-gradient(#F03C2E, var(--mainBG));
}

.langs-sec-border#py {
  background: radial-gradient(#346E9E, var(--mainBG));
}

.langs-sec-border#firebase {
  background: radial-gradient(#FFA513, var(--mainBG));
}

.langs-sec-border#supabase {
  background: radial-gradient(#249361, var(--mainBG));
}

main>* {
  z-index: 5;
}

main:not(.projects) {
  border-top: 1px rgba(255, 255, 255, 0.14) solid;
}

header.error {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

.error-wrp {
  text-align: center;
  max-width: 80%;
}

.error-wrp * {
  margin-block: 30px;
}

.error-wrp p {
  color: grey;
  font-size: 1.2rem;
}

.error-wrp a {
  color: grey;
  font-size: 1.4rem;
  text-decoration: none;
  transition: .3s;
}

.error-wrp a:hover {
  color: white;
}

.bg-wrp {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(35px);
  z-index: -1;
}

.background-element {
  transition: .3s;
}

.background-element:nth-child(1) {
  background: radial-gradient(var(--accent_hover), 10%, var(--mainBG));
  width: 220px;
  border-radius: 50%;
  height: 109px;
  transform: translateY(-10px);
  margin-inline: auto;
  animation: scale 60s linear infinite;
}

.background-element:nth-child(2) {
  background: linear-gradient(50deg, var(--accent2_hover), 10%, var(--mainBG));
  width: 200px;
  height: 60px;
  transform: translateY(10px);
  animation: rotate 30s linear infinite;
}

@keyframes scale {
  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    opacity: 0.4;
  }

  100% {
    transform: rotate(360deg);
  }
}

.project-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.project .date {
  color: grey;
  font-size: 0.9rem;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.login-form {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px rgba(255, 255, 255, 0.14) solid;
  border-radius: 18px;
  gap: 30px;
  max-width: 70%;
}

.login-form input {
  border-radius: 14px;
  background: transparent;
  backdrop-filter: blur(20px);
  padding: 10px 20px;
  outline: none;
  max-width: 90%;
}

.login-form input,
.login-form button {
  color: white;
  font-size: 1rem;
  border: 1px rgba(255, 255, 255, 0.14) solid;
  transition: .3s;
}

.form-btn-border {
  background: linear-gradient(-270deg, rgb(60 60 60) 5%, rgb(20 20 20));
  border-radius: 14px;
  max-width: fit-content;
  transition: .3s;
}

.login-form button {
  background: rgb(26, 26, 26);
  border-radius: inherit;
  padding: 10px 20px;
  margin: 2px;
  border: none;
  cursor: pointer;
}

.login-form .form-btn-border:hover {
  background-position-x: 53px;
}

.login-form input:hover {
  border-color: rgba(255, 255, 255, 0.699);
}

.login-form input:focus {
  border-color: white;
}

.login-form input:focus::placeholder {
  color: white;
}